.restart-btn {
  width: 90%;
  padding: 15px;
  margin: 5%;
  background-color: #00bc8c;
  color: white;
  border: 2px outset #00bc8c;
  border-radius: 0.25rem;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  &:active {
    border: 2px inset #00bc8c;
  }
}
