.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  &__logo {
    width: 200px;
    height: 55px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../assets/Pictures/logo.svg);
  }
  &__score {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.2rem;
  }
}



.question-block-list {
  display: flex;
  margin-bottom: 25px;
  list-style: none;
  justify-content: space-around;
  width: 100%;
  height: 35px;
  flex-basis: 100%;
  &__question-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    background-color: #008966;
    &_selected {
      background-color: #00bc8c;
    }
  }
}

