.next-lvl-btn {
  width: 100%;
  height: 40px;
  margin: 25px 15px;
  padding: 6px 12px;
  background-color: #303030;
  border: 1px solid #444;
  border-radius: 0.25rem;
  transition: .3s;
  color: white;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  &.active {
    background-color: #00bc8c;
  }
}
