.gameover {
  background-color: #303030;
}

.congratulations {
  font-size: 4.5rem;
  font-weight: 300;
  text-align: center;
}

.display-score {
  font-size: 1.17rem;
  font-weight: 300;
  text-align: center;
}
