.options-list {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin: 0 15px;
  border: 1px solid #444;
  border-radius: 3px;
  list-style-type: none;
  &__option {
    padding: 0.75rem 1.25rem;
    background-color: #303030;
    border: 1px solid #444;
    cursor: pointer;
    &_btn {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 15px;
      border-radius: 50%;
      transition: .1s;
      cursor: pointer;
      &.correct {
        background-color: rgb(0, 255, 0);
      }
      &.incorrect {
        background-color: rgb(255, 0, 0);
      }
    }
  }
}
